*{
  box-sizing: border-box;
  margin: 0px;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
html, body{
  color:black;
  overflow-x: hidden;
  background-color: white;
}
.opacityAnimation{
  animation: opacityAnim 0.8s ease-in;
}
@keyframes opacityAnim{
  0%{transform: scale(0); opacity: 0;}
  100%{transform: scale(1); opacity: 1;}
}
.whiteColor{
  color: white;
}
.yellowColor{
  color: rgba(185,130,12,1);
}
.yellowBackground{
  background-color: rgba(185,130,12,1);
}